<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<form method="get" action="{{ url_for('tehosmotri.add_tehosmotri_template')}}">
        <input type="submit" value="Добавить техосмотр" name="add"></form>

<table border=1>
    <tr>
        <td>Гаражный номер</td>
        <td>Дата прохождения техосмотра</td>
        <td>ТО действителен до</td>
        <td>Разрешение на допуск</td>
        <td>Разница (количество дней до конца ТО)</td>
        <td>Списанные</td>
    </tr>
    {% for t in tehosmotri %}
    <tr>
        <td>{{t.garage_num}}</td>
        <td>{{t.data_prohojd_tehosmotra}}</td>
        <td>{{t.to_deistvitelen_do}}</td>
        <td>{{t.razreshenie_na_dopusk}}</td>
        <td>{{t.raznica}}</td>
        <td>{{t.spisannie}}</td>
        <td><a href="{{ url_for('tehosmotri.change_tehosmotri', entry = t )}}"><input type="submit" value="ИЗМЕНИТЬ"></a></td>
        <td><a href="{{ url_for('tehosmotri.delete_tehosmotri', field_id = t.id_teh_osmotri )}}"><input type="submit" value="УДАЛИТЬ"></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}